h1{
    text-align: center;
    font-size: 100px;
    vertical-align: bottom;
    
}
.logo{
    width: 150px;
    height: 150px;
}
@keyframes SlideIn {
    from {
        transform: translateX(500px);
    }
    to {
        transform:translateX(0px);
    }
}
@keyframes SlideIn2 {
    from {
        transform: translateX(600px);
    }
    to {
        transform:translateX(0px);
    }
}
.headies{
    animation-name:SlideIn;
    animation-duration:1s;
    animation-timing-function:ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    
}
.launch{
    display: flex;
    border: .1px solid black;
    padding-left: 10px;
    background-image: linear-gradient(to left, white,rgb(152, 255, 152 ));
    border-radius: 4px;
}
body {
    background-image: linear-gradient(to right, white, rgb(152, 255, 152));
}
.container{
    margin-left: 300px;
    margin-right: 400px;
    animation-name:SlideIn2;
    animation-duration:1.4s;
    animation-timing-function:ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}
.launch div{
    flex-basis: 100px;
    margin-right: 25px;
}
.launch div p{
    font-size: 100px;
    margin-bottom: -20px;
}
.agm{
    font-size: 30px;
}
.bus{
    width:105px;
    position: absolute;
    right: 90%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
@keyframes rocket{
    0%{
        right:105%;
        opacity: 0;
    }
    100%{
        right:-5%;
        opacity:1;
    }
}
a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(56, 255, 56);
}
a:hover{
    text-shadow: 5px;
}